<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{cmd}}</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label>A=</label>
      <input type="text" name="num1" value="{{num1}}" /><br />
      <label>B=</label>
      <input type="text" name="num2" value="{{num2}}" /><br />
      <h2>Result = {{result}}</h2>

      <button name="cmd" type="submit" value="add">&nbsp;&nbsp;Add</button>
      <button name="cmd" type="submit" value="sub">&nbsp;&nbsp;Sub</button>
    </form>
  </body>
</html>
