<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
    <meta charset="UTF-8">
    <title> Responsiive Admin Dashboard | CodingLab </title>
    <link rel="stylesheet" href={% static 'mystyle.css' %}>

    <!-- Boxicons CDN Link -->
    <link href=  'https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>


<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Varanasi<br><h6> <center>Hotel</center></h6></span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/insert">
            <i class="bx bx-heart" ></i>
            <span class="links_name">Insert Category</span>
          </a>
        </li>
        <li>
          <a href="/all_table">
            <i class='bx bx-heart' ></i>
            <span class="links_name">All Category</span>
          </a>
        </li>
        <li>

          <a href="/all_booking">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Booking ALL</span>
          </a>
        </li>
        <li>
          <a href="/guestinsert">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Guest Insert</span>
          </a>
        </li>
        <li>
          <a href="/all_guest">
            <i class='bx bx-heart' ></i>
            <span class="links_name">All Guest</span>
          </a>
        </li>
        <li>
          <a href="/check">
            <i class='bx bx-heart' ></i>
            <span class="links_name">CheckOut With ID</span>
          </a>
        </li>
        <li>
          <a href="/all_checkout">
            <i class='bx bx-heart' ></i>
            <span class="links_name">All CheckOut Guest</span>
          </a>
        </li>
        <li>
          <a href="/rooms">
            <i class='bx bx-heart' ></i>
            <span class="links_name">All Rooms</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="/index">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  


  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Admin</span>
        <i class='bx bx-user' ></i>
      </div>
    </nav>



    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Rooms</div>
            <div class="number">XYZ</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>




          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Booked Rooms</div>
            <div class="number">XYZ</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>



        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Profit</div>
            <div class="number">$0</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>



        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Return</div>
            <div class="number">$0</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>


      
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title"> Rooms </div>
          <table>
            
            {% comment %} <label> Booking ID ::</label>  {% endcomment %}


            {% comment %} <input type="number"  id="street" placeholder="Name" >
             </div>

             <button type="submit" value="submit">Submit</button> {% endcomment %}

           </table>

          </li>
          </ul>
        </div>       
      </div>

      <table border="3">


        <form action="/docheckout/" method="post">
            {% csrf_token %}

            
            <input type="text" value="{{id}}" id="street" name="id">
            

          <div class="card-body p-5 text-center">
            <h3 class="mb-5">**Booking on This ID**</h3>

          </tr>

          <tr><td>ID</td> <td>Name</td> <td>Email</td>  <td>Phone</td> <td>City</td> <td>Postcode</td> <td>Country</td> <td>People</td> <td>Room</td> <td>Bedding</td>  <td>Arrive</td> <td>Depart</td> <td>Comment</td></tr>
          
          <tr><td>{{id}}</td> <td>{{name}}</td> <td>{{email}}</td>  <td>{{phone}}</td> <td>{{city}}</td> <td>{{postcode}}</td> <td>{{country}}</td> <td>{{people}}</td> <td>{{room}}</td> <td>{{bedding}}</td>  <td>{{arrive}}</td> <td>{{depart}}</td> <td>{{comment}}</td></tr>

          <tr><td></td>

          <button type="submit" class="btn btn-primary btn-lg">CheckOut</button>
          </tr>


            <div class="form-outline mb-4">


              {% comment %} <input type="text" value="{{id}}" name="id">

              <label>Name::</label> 
              <input type="text" value="{{name}}" id="street" placeholder="Name" name="name">
               </div>



            <div class="form-outline mb-4">
              <label> Email::</label>
              <input type="text"  value="{{email}}" id="street" placeholder="email" name="email">
            </div>

            <div class="form-outline mb-4">
                <label> Phone::</label>
                <input type="text"  value="{{phone}}" id="street" placeholder="phone" name="phone">
              </div>
            
              <div class="form-outline mb-4">
                <label> City::</label>
                <input type="text"  value="{{city}}" id="street" placeholder="city" name="city">
              </div>

              <div class="form-outline mb-4">
                <label> Postcode::</label>
                <input type="text"  value="{{postcode}}" id="street" placeholder="postcode" name="postcode">
              </div>

              <div class="form-outline mb-4">
                <label> Country::</label>
                <input type="text"  value="{{country}}" id="street" placeholder="country" name="country">
              </div>

              <div class="form-outline mb-4">
                <label> People::</label>
                <input type="text"  value="{{people}}" id="street" placeholder="people" name="people">
              </div>

              <div class="form-outline mb-4">
                <label> Room::</label>
                <input type="text"  value="{{room}}" id="street" placeholder="room" name="room">
              </div>

              <div class="form-outline mb-4">
                <label> Bedding::</label>
                <input type="text"  value="{{bedding}}" id="street" placeholder="bedding" name="bedding">
              </div>


              <div class="form-outline mb-4">
                <label> Arrive::</label>
                <input type="text"  value="{{arrive}}" id="street" placeholder="arrive" name="arrive">
              </div>

              <div class="form-outline mb-4">
                <label> Depart::</label>
                <input type="text"  value="{{depart}}" id="street" placeholder="depart" name="depart">
              </div>



            <label>Comment :: </label>
            <textarea placeholder="comment" name="comment">"{{comment}}"</textarea>
            

            
            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4"> </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit" value="update" name="cmd">Update</button>
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="delete" name="cmd">Delete</button> 
        </div> {% endcomment %}


      </form>
    
      </table>




    </div>
  </section>


  

  <script>
    let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}
else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>