<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book </title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href={% static 'style.css' %}>
</head>

<body>
    <nav class="navbar navbar-expand-sm "><!--Start 1-->
    <div class="container-fluid"><!--Start 2-->
    <div class="row">
        <div class="col-sm-12 bg-s uccess">
            <center>
            <table class="chess-board">
                <tbody>
                    
                       

    <div class="columncontainer">
        <h1 id="gold">KING ROOM PRISE=12000 RS. PER NIGHT</h1>
      </div>
      <div class="rowcontainer">
        <div class="columncontainer">
          <img id="id" src="{% static 'bedroom.jpg'%}">
          <div class="columncontainer">
            <h2>Bad room</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'dinner.jpg'%}">
          <div class="columncontainer">
            <h2>Dinner</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'bathroom.jpg'%}">

          <div class="columncontainer">
            <h2>Bathroom</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>

        <div>
            <a href="http://127.0.0.1:8000/roombook/"  >
                <button type="button" class="btn btn-primary">Book</button>
             </a> 
            </div> 
      </div>
      
    
  
  
  
      <div class="columncontainer">
        <h1 id="pink">Queen ROOM PRISE=12000 RS. PER NIGHT</h1>
      </div>
      <div class="rowcontainer">
        <div class="columncontainer">
          <img id="id" src="{% static 'bg_1.jpg'%}">

          <div class="columncontainer">
            <h2>Bad room</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'kit.jpg'%}">

          <div class="columncontainer">
            <h2>Kitchen</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'bathg.jpg'%}">

          <div class="columncontainer">
            <h2>Bathroom</h2>

            <p>fALEhAgrMZSadI1jFONsLdNDIwB<br>LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br>xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br/>1RUHZjnhNp0gtQiux
            </p>

          </div>
        </div>
       
            <a href="http://127.0.0.1:8000/roombook/" >
                <button type="button" class="btn btn-primary">Book</button>
             </a> 
            </div> 
              
  
      <div class="columncontainer">
        <h1 id="blue">LUXERY ROOM PRISE=10000 RS. PER NIGHT</h1>
      </div>
      <div class="rowcontainer">
        <div class="columncontainer">
          <img id="id" src="{% static 'room-1.jpg'%}">

          <div class="columncontainer">
            <h2>Bad room</h2>
            <p>
              fALEhAgrMZSadI1jFONsLdNDIwB<br>LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br>xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br/>1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'room-4.jpg'%}">

          <div class="columncontainer">
            <h2>Kitchen</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'bathg.jpg'%}">

          <div class="columncontainer">
            <h2>Bathroom</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
        <div>
        <a href="http://127.0.0.1:8000/roombook/"  >
            <button type="button" class="btn btn-primary">Book</button>
         </a> 
        </div> 
      </div>
  
      <div class="columncontainer">
        <h1 id="lime">SINGLE BAD ROOM PRISE=3000 RS. PER NIGHT</h1>
      </div>
      <div class="rowcontainer">
        <div class="columncontainer">
          <img id="id" src="{% static 'room-1.jpg'%}">

          <div class="columncontainer">
            <h2>Bad room</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'bg_3.jpg'%}">

          <div class="columncontainer">
            <h2>Kitchen</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'bath.jpg'%}">

          <div class="columncontainer">
            <h2>Bathroom</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
        <div>
            <a href="http://127.0.0.1:8000/roombook/"  >
                <button type="button" class="btn btn-primary">Book</button>
             </a> 
            </div> 
              </div>
  
      <div class="columncontainer">
        <h1 id="aqua">DOUBEL BAD ROOM PRISE=5000 RS. PER NIGHT</h1>
      </div>
      <div class="rowcontainer">
        <div class="columncontainer">
          <img
            id="id"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRreMQLNuS_S9lTD_HQfcvb1HtxCcQN63mEjA&usqp=CAU"
          />
          <div class="columncontainer">
            <h2>Bad room</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'pasta-663096.jpg'%}">

          <div class="columncontainer">
            <h2>Kitchen</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'bathh.jpg'%}">

          <div class="columncontainer">
            <h2>Bathroom</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
        <div class="box"><input type="button" value="Book" /></div>
      </div>
  
      <div class="columncontainer">
        <h1 id="color">TRIPAL BAD ROOM PRISE=7000 RS. PER NIGHT</h1>
      </div>
      <div class="rowcontainer">
        <div class="columncontainer">
          <img id="id" src="{% static 'sleep.jpg'%}">

          <div class="columncontainer">
            <h2>Bad room</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
  
        <div class="columncontainer">
          <img id="id" src="{% static 'room-1.jpg'%}">

          <div class="columncontainer">
            <h2>Kitchen</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
        <img id="id" src="{% static 'bathh.jpg'%}">

  
        <div class="columncontainer">
         <div class="columncontainer">
            <h2>Bathroom</h2>
            <p>
              f/ALEhAgrMZSadI1jFONsLdNDIwB<br />LGFvOiUUVXHnSEsryEArOtr7UTO8j9H<br />xijMaauYZXGR1AQRhQ9aZG63C0pQnWZbXrFsQbPVI1dU4a
              <br />1RUHZjnhNp0gtQiux
            </p>
          </div>
        </div>
        <div>
            <a href="http://127.0.0.1:8000/roombook/">
                <button type="button" class="btn btn-primary">Book</button>
             </a> 
            </div> 
        
        </div>
  
  
      <div class="rowcontainer">
        <div class="columncontainer">

          <img id="id" src="{% static 'kit.jpg'%}">

        </div>
  
        <div class="columncontainer"><h1>Links</h1>
          <a href="http://www.geeksshows.com"><h3 style="text-decoration: none !important;">.Visit Geeky show</h3> </a>
  
          <a href="http://www.google.com"><h3 class="h3">.Google<h3 class="h3"> </a>
        </div>
  
        <div class="columncontainer"><img id="id" src="{% static 'wal.jpg'%}">
        </div>
      </div>
 </div>


</tbody>
</table> 
</center>       
</div>
</div> 



</body>
</html>



