<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo {
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Company</h1> 
  <p>We specialize in blablabla</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4>      
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>


          
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Room Categories</div>
          <table class="table table-striped">     
               
                <form>
              <div class="card-body" size="10px">


                <h1>Sagar</h1>
    
                <tr>

<td>Category Name</td>
<td>Description</td>
<td>Charge</td>
<td>Booking</td>






</tr>



{% for item in result %}
<td></td><td></td>
<tr>

<td>{{item.category_name}}</td>
<td>{{item.description}}</td>
<td>{{item.charge}}</td>

{% comment %} <td><a target="new" href="/editcategory?categoryno={{item.category_no}}">Edit</a>
<td> <a target="new" href="/rooms?categoryno={{item.category_no}}">insert</td> <td> {% endcomment %}

  <td> <a target="new" href="/list?categoryno={{item.category_no}}"><button type="button" class="btn btn-primary">Book</button></td> <td>
  </tr>    
</tr>
{% endfor %}
</tr>
              </div>

            </form>
          </table>



          <div class="button">
            <a href="/editcategory">
              <button type="button" class="btn btn-primary"> Book </button>               </a>
          </div>
        </div>
    </div>



    </div>
  </div>
</div>

</body>
</html>



{% comment %} <div class="sales-boxes">
    <div class="recent-sales box">
      <div class="title">Room Categories</div>
      <table>
        <form >
          <div class="card-body">

            
{% for x in names %}
<td>{{x}}</td>
{% endfor %}
<td>Edit</td>
<td>Insert </td>

</tr>



{% for item in result %}
<tr>
{% for x in item %}
<td>{{x}}</td>
{% endfor %}
<td><a target="new" href="/editcategory?categoryno={{item.category_no}}">Edit</a>
<td> <a target="new" href="/rooms?categoryno={{item.category_no}}">insert</td> <td>

<td> <a target="new" href="/all_tableroom?categoryno={{item.category_no}}">Show All</td> <td>

</td>
</tr>    
</tr>
{% endfor %}
</tr>
          </div>

        </form>
      </table>
      <div class="button">
        <a href="/editcategory">See All </a>
      </div>
    </div> {% endcomment %}


   
          





      

